@import 'styles/theme.scss';

.wrap {
  background-color: $color-info;
  height: calc(100vw * 9 / 16);
  position: relative;
  font-size: 18px;
  color: #666;
}
.cover {
  height: 100%;
}
.state {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  text-align: center;
  margin: auto;
}
