@import 'styles/theme.scss';

.wrap {
  z-index: 1000;
  background-color: $color-black;
  height: calc(100vw * 9 / 16);
  max-height: 337px;
  position: relative;
  font-size: 18px;
  color: #666;
  .cover {
    width: 100%;
    height: 100%;
  }
  .state {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    text-align: center;
    margin: auto;
  }
}

.barWrap {
  height: 40px;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item {
    cursor: pointer;
    -webkit-user-select: none;
    & > span {
      position: relative;
    }
  }
  .active {
    color: $color-primary;
    & > span::after {
      content: ' ';
      position: absolute;
      display: inline-block;
      width: calc(100% - 6px);
      left: 3px;
      bottom: -7px;
      height: 2px;
      z-index: 1;
      border-radius: 1px;
      background-color: #20a0ff;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
      transform: translateX(0);
      visibility: visible;
    }
  }
}

.empty {
  text-align: center;
  margin-top: 50px;
}

.detailWrap {
  flex: 1;
  overflow: scroll;
  // height: calc(100vh - 100vw * 9 / 16 - 100px);
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  color: #666;
  font-size: 16px;
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .avatar {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .divider {
    height: 1px;
    margin: 15px 0;
    background-color: $color-danger;
    width: 100%;
  }
  .title {
    font-weight: 700;
    margin: 10px 0;
    font-size: 20px;
  }
  .time {
    margin-bottom: 15px;
  }
  .intro {
    word-break: break-all;
    line-height: 1.8rem;
  }
  .footer {
    margin: 20px;
    font-size: 18px;
    color: #666;
    text-align: center;
    .qrcode {
      margin-top: 10px;
      width: 100px;
      height: 100px;
    }
  }
}

.actionBarWrap {
  position: absolute;
  right: 10px;
  bottom: 150px;
  .item {
    display: block;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: #20a0ff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.headerWrap {
  width: 100%;
  min-height: 60px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  .title {
    font-size: 18px;
    color: #333333;
    .time {
      color: $base-text-color;
      font-size: 12px;
      margin-top: 8px;
    }
  }

}

/* pc */
@media all and (min-width: 1300px) {
  .wrap {
    width: 100%;
    max-height: 100%;
  }
  .headerWrap {
    flex: 1;
  }


}
