$color-primary: #20a0ff;
$color-info: #4fc48d;
$color-warning: #f3d93f;
$color-danger: #f6588e;
$color-success: #27c6fa;
$color-white: #fff;
$color-black: #333;

$bg-color: #f7f7f7;
$base-text-color: #666;

$max-mobile-width: 100%;
