@import 'styles/theme.scss';

.header {
  height: 50px;
  line-height: 50px;
  z-index: 88;
  box-shadow: 0 1px 14px 0 hsla(0, 0%, 80.4%, 0.39);
  margin-bottom: 2px;
  .link {
    margin-left: 20px;
    color: $color-primary;
    font-size: 18px;
  }
}

.carousel {
  height: calc(100vw * 7 / 18);
  background-color: $color-danger;
  margin-bottom: 10px;
}

.footer {
  margin-top: 10px;
  height: 180px;
  font-size: 18px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $color-warning;
  .title {
    color: #333;
  }
  .text {
    margin-top: 8px;
    color: $base-text-color;
    font-size: 16px;
  }
}
