@import 'styles/theme.scss';

.wrap {
  color: $base-text-color;
  max-width: $max-mobile-width;
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  // overflow: hidden;
  // height: 100vh;
}
